<div class='accident-data'>

    <label>Matrícula:</label>
    <input type="text" />

    <label>Local da última decolagem:</label>
    <input type="text" />

    <label>Local pretendido de pouso:</label>
    <input type="text" />

    <label id='registerCategory'>Categoria de registro:</label>
    <select>
        <% registerCategory.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>
    </select>

    <label id='operationType'>Tipo de operação:</label>
    <select>
        <% operationType.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>    
    </select>

    <label>Fase da operação:</label>
    <select id='operationPhase'>
        <% operationPhase.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>    
    </select>

    <label>Danos à aeronave:</label>
    <select id='aircraftDamage'>
        <% aircraftDamage.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>
    </select>
</div>

<div class='accident-data'>
    <label>Tipo de aeronave:</label>
    <select id='aircraftType'>
        <% aircraftType.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>
    </select>

    <label>País de registro:</label>
    <input type="text" />

    <label>Ano de fabricação:</label>
    <input type="text" />

    <label>Fabricante:</label>
    <input type="text" />

    <label>Modelo:</label>
    <input type="text" />

    <div class='div-max-weight'>
        <label>Peso máximo de decolagem:</label>
        <label for='kg'>Kg</label>
        <input type='radio' name='max-weight' id='kg' />
        <label for='lbs'>Lbs</label>
        <input type='radio' name='max-weight' id='lbs' />
        <input type="number" />
    </div>
</div>