<div class='accident-data'>

    <label>Matrícula:</label>
    <input type="text" name='registration' />

    <label>Local da última decolagem:</label>
    <input type="text" name='lastTakeOff' />

    <label>Local pretendido de pouso:</label>
    <input type="text" name='landing' />

    <label id='registerCategory'>Categoria de registro:</label>
    <select name='registerCategory' >
        <option selected disabled></option>
        <% registerCategoryModel.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>
    </select>

    <label id='operationType'>Tipo de operação:</label>
    <select name='operationType'>
        <option selected disabled></option>
        <% operationTypeModel.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>    
    </select>

    <label>Fase da operação:</label>
    <select id='operationPhase' name='operationPhase'>
        <option selected disabled></option>
        <% operationPhaseModel.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>    
    </select>

    <label>Danos à aeronave:</label>
    <select id='aircraftDamage' name='aircraftDamage'>
        <option selected disabled></option>
        <% aircraftDamageModel.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>
    </select>
</div>

<div class='accident-data'>
    <label>Tipo de aeronave:</label>
    <select id='aircraftType' name='aircraftType'>
        <option selected disabled></option>
        <% aircraftTypeModel.forEach((item) => { %>
        <option value=<%= item.id %> > <%= item.value %> </option>
        <% }) %>
    </select>

    <label>País de registro:</label>
    <input type="text" name='registryCountry' />

    <label>Ano de fabricação:</label>
    <input type="text" name='manufacturingYear' />

    <label>Fabricante:</label>
    <input type="text" name='manufacturer' />

    <label>Modelo:</label>
    <input type="text" name='model' />

    <div class='div-max-weight'>
        <label>Peso máximo de decolagem:</label>
        <div>
            <label for='kg'>Kg</label>
            <input type='radio' name='maxTakeOffWeightOption' value="1" id='kg' />
            <label for='lbs'>Lbs</label>
            <input type='radio' name='maxTakeOffWeightOption' value="2" id='lbs' />
            <input type="number" name='maxTakeOffWeight' />
        </div>
    </div>
</div>