<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>
<body>
    
</body>
</html>



processNumber:           <%= processNumber %> 
classification:          <%= classification %>
occurrenceType:          <%= occurrenceType %>
date:                    <%= date %>
time:                    <%= time %>
state:                   <%= state %>
city:                    <%= city %>
aerodrome:               <%= aerodrome %>
thirdPartyDamage:        <%= thirdPartyDamage %>
severeInjure:            <%= severeInjure %>
onBoardFunction1:        <%= onBoardFunction1 %>
onBoardFunction2:        <%= onBoardFunction2 %>
quantity:                <%= quantity %>
history:                 <%= history %>
registration:            <%= registration %>
lastTakeOff:             <%= lastTakeOff %>
landing:                 <%= landing %>
registerCategory:        <%= registerCategory %>
operationType:           <%= operationType %>
operationPhase:          <%= operationPhase %>
aircraftDamage:          <%= aircraftDamage %>
aircraftType:            <%= aircraftType %>
registryCountry:         <%= registryCountry %>
manufacturingYear:       <%= manufacturingYear %>
manufacturer:            <%= manufacturer %>
model:                   <%= model %>
maxTakeOffWeightOption:  <%= maxTakeOffWeightOption %>
maxTakeOffWeight:        <%= maxTakeOffWeight %>   